/* CSS Document */

body { font-size: 1.2em; }
.wrapper{ background-color:none} 
blockquote { font-size: 1.3em }
blockquote footer { text-align: right; font-style: italic }
blockquote footer>cite:before { content: "— " }
.navbar-nav { font-size: 14px !important; }
.benefits { position: relative }
.benefits-img-align { margin-right: -30px; }
.i-bcc a[href$="#artifacts"]:before { content: url(../img/icon_bcc.png) " "; }

/* background-image:url(../../images/IMG_2712.JPG); ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
/*  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
ul.top-actions-buttons { list-style: none; display: inline; }
ul.top-actions-buttons li { float: left; }
.btn-nextsteps-top { font-weight: 700; background-image: url(../../images/start-button.png); background-repeat: no-repeat; }
.btn-bpds-top { font-weight: 700; background-image: url(../../images/resources-button.png); background-repeat: no-repeat; }
.btn-bpds-top, .btn-bpds-top a, .btn-nextsteps-top, .btn-nextsteps-top a { color: #0033A1; background-color: transparent; border-color: transparent; height: 102px; text-align: left; padding-left: 110px; vertical-align: middle; font-size: 20px; padding-top: 40px; }
.btn-bpds-top:hover, .btn-bpds-top:focus, .btn-bpds-top:active, .btn-bpds-top.active, .open .dropdown-toggle.btn-bpds-top, .btn-nextsteps-top:hover, .btn-nextsteps-top:focus, .btn-nextsteps-top:active, .open .dropdown-toggle.btn-nextsteps-top { color: #0033A1; background-color: transparent; border-color: #269abc; }
.btn-bpds { margin-top: 1em; background-image: url(../../images/icon_break.png); background-repeat: no-repeat; background-position: left; font-weight: 700 }
.btn-bpds, .btn-bpds a { color: #ffffff; background-color: #a3aaae; border-color: #46b8da; }
.btn-bpds:hover, .btn-bpds:focus, .btn-bpds:active, .btn-bpds.active, .open .dropdown-toggle.btn-bpds { color: #ffffff; background-color: #5b6770; border-color: #269abc; background-image: url(../../images/icon_break_w.png); }
.btn-bpds:active, .btn-bpds.active, .open .dropdown-toggle.btn-bpds { background-image: none; }
.btn-bpds.disabled, .btn-bpds[disabled], fieldset[disabled] .btn-bpds, .btn-bpds.disabled:hover, .btn-bpds[disabled]:hover, fieldset[disabled] .btn-bpds:hover, .btn-bpds.disabled:focus, .btn-bpds[disabled]:focus, fieldset[disabled] .btn-bpds:focus, .btn-bpds.disabled:active, .btn-bpds[disabled]:active, fieldset[disabled] .btn-bpds:active, .btn-bpds.disabled.active, .btn-bpds[disabled].active, fieldset[disabled] .btn-bpds.active { background-color: #5bc0de; border-color: #46b8da; }
.btn-bpds .caret { border-top-color: #fff; }
.chevron { background-image: url(../../images/chevron-bkg.png); background-position: center; background-repeat: no-repeat; width: 100%; height: 110px; padding-left: 30px !important; margin: 0 }
.CostCurveText { font-size: 0.8em; }
.dropup .btn-bpds .caret { border-bottom-color: #fff; }
.LeadRead { font-size: 1.4em; background-color: #dad9d7; padding: 10px; margin-top: -8px; }
.LeadRead2 { background-color: #dad9d7; }
.quadHome { background-color: #f8f8f8; padding: 8px; height: 350px; }
.actionsteps-panels { margin-top: 20px; margin-bottom: 20px; }
.btn-resources { margin-top: 0px; background-image: url(../../images/resources_i_need_right.png); background-repeat: no-repeat; background-position: center; font-weight: 700; height: 102px; text-align: right !important; vertical-align: text-bottom; background-color: #5C0F8C; }
.btn-resources a { color: #5C0F8C; background-color: #5C0F8C; border-color: #FFA400; vertical-align: text-bottom; height: 102px; line-height: 110px; font-size: 24px; }
.btn-resources:hover { background-color: #FFA400; background-image: url(../../images/resources_i_need_right_over.png); }
.btn-resources-right { margin-top: 0px; background-image: url(../../images/resources_i_need_right.png); background-repeat: no-repeat; background-position: left; font-weight: 700; height: 122px; width: 205px; text-align: right !important; vertical-align: text-bottom; background-color: #5C0F8C; }
.btn-resources-right a { color: #5C0F8C; background-color: #5C0F8C; border-color: #FFA400; vertical-align: text-bottom; height: 122px; line-height: 130px; font-size: 24px; }
.btn-resources-right:hover { background-color: #FFA400; background-image: url(../../images/resources_i_need_right_over.png); }
.btn-nextsteps-right { margin-top: 0px; background-image: url(../../images/how_to_do_it_right.png); background-repeat: no-repeat; background-position: left; font-weight: 700; height: 122px; width: 205px; text-align: right !important; vertical-align: text-bottom; background-color: #5C0F8C; }
.btn-nextsteps-right a { color: #5C0F8C; background-color: #5C0F8C; border-color: #FFA400; vertical-align: text-bottom; height: 122px; line-height: 130px; font-size: 24px; }
.btn-nextsteps-right:hover { background-color: #FFA400; background-image: url(../../images/how_to_do_it_right_over.png); }
.btn-nextsteps { margin-top: 1em; background-image: url(../../images/icon_next.png); background-repeat: no-repeat; background-position: left; font-weight: 700 }
.btn-nextsteps, .btn-nextsteps a { color: #ffffff; background-color: #92c0ea; border-color: #46b8da; }
.btn-nextsteps:hover, .btn-nextsteps:focus, .btn-nextsteps:active, .btn-nextsteps.active, .open .dropdown-toggle.btn-nextsteps { color: #ffffff; background-color: #5b6770; border-color: #269abc; background-image: url(../../images/icon_next_w.png) }
.btn-nextsteps:active, .btn-nextsteps.active, .open .dropdown-toggle.btn-nextsteps { background-image: none; }
.btn-nextsteps.disabled, .btn-nextsteps[disabled], fieldset[disabled] .btn-nextsteps, .btn-nextsteps.disabled:hover, .btn-nextsteps[disabled]:hover, fieldset[disabled] .btn-nextsteps:hover, .btn-nextsteps.disabled:focus, .btn-nextsteps[disabled]:focus, fieldset[disabled] .btn-nextsteps:focus, .btn-nextsteps.disabled:active, .btn-nextsteps[disabled]:active, fieldset[disabled] .btn-nextsteps:active, .btn-nextsteps.disabled.active, .btn-nextsteps[disabled].active, fieldset[disabled] .btn-nextsteps.active { background-color: #92c0ea; border-color: #0096db; }
.btn-nextsteps .caret { border-top-color: #fff; }
.dropup .btn-nextsteps .caret { border-bottom-color: #fff; }
.nextsteps-ol-alpha { list-style-type: lower-alpha; }
.nextsteps-ol-roman { list-style-type: lower-roman; }
/*  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
/*  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
/*button.btn.collapsed:before
{
    content:'+' ;
    display:block;
    width:15px;
}
button.btn:before
{
    content:'-' ;
    display:block;
    width:15px;
}*/

p, li { color: #5b6770 }
ul { padding: 0 0 0 1em }
h1 a, h2 a, h3 a { color: #0033a1 }
#accordion { margin: 1.5em 0 2em }
#footer-content li li { font-size: 1em; list-style: none; color: #fff }
.benefits { margin: 1em 0; position: relative }
/* center the slide images when the screen is wider than 1600px */
.carousel-main { margin: 0; border-bottom: 1px solid #a3aaae }
.carousel-inner { max-width: 1600px; margin-left: auto; margin-right: auto; }
.carousel-indicators-maxwidth { position: relative; max-width: 1600px; margin-left: auto; margin-right: auto }
.carousel-indicators .active { background-color: #FFDB00 }
.dateline { font-weight: bold; text-transform: uppercase }
.description-blue { color: #2a6496; }
.fancybox-title-float-wrap .child { max-width: 550px; height: auto; white-space: normal !important; word-wrap: break-word; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)" /* Fallback for web browsers that doesn't support RGBa: */ }
.features p, .features li { font-size: 1.4em }
.feature_banner { background-color: #0033a1 !important }
.features footer { margin: .4em 0 .4em 1em }
.intro-block { /*border-bottom: 1px solid #dad9d7;*/ margin-bottom: 1em; padding: 1em 0; position: relative; min-height: 150px }
.intro, .intro-block p, .intro-block li { font-size: 1.2em }
.intro-block img { margin: .8em 0 .8em .8em; top: 0; right: 0 }
.methods_panels { position: relative }
.methods_panels img { margin: .8em 0 1.8em 1.8em }
.methods_panels ul li { /*list-style-position: inside*/ }
.methods_panels ul li li { font-size: inherit }
.nav > li > a { outline: none }
.navbar-fullwidth { margin-bottom: 1em }
.navbar-right img { float: right }
.newslinks>h3 { margin-top: 1.5em !important }
.note { color: #5b6770; font-size: 1em }
.panel-title img { margin-right: 1em }
.pz { width: 100%; height: 110px }
.pz h1 { color: #fff; font-size: 3.8em; font-weight: 100; margin-top: .35em }
.pz img { display: inline-block }
.seperator { margin-top: 2em; /*border-top:1px solid #a3aaae; */ }
.sidebar h5 { margin-top: 2em }
.sidebar li { font-size: 1em; margin-top: 1em }
.sidebar p.btn { font-weight: 700 }
.statement_bar { position: relative; color: #fff; background-color: #a3aaae; padding-top: 1em; padding-bottom: 1em; }
.statement_bar p { color: #fff; font-size: 1.6em; line-height: 1.4 }
/*==  BANNER & STRATEGY COLORS ========================================================================*/
.banner { background-color: #0033a1 !important }
.optimize { background-color: #5C0F8C !important }
.accelerate { background-color: #009BDF !important }
.demand { background-color: #81BC00 !important }
.risk { background-color: #FFA400 !important }
/*============================================================================================*/
/*== NEWSFEED ========================================================================*/
#more_news .single_news_entry li { font-size: 1.6; margin: 2em 0 .2em 15px; list-style-type: none !important }
#more_news .main_definition a { color: #0033a1 !important }
.single_news_enutry li { margin: 5em 0 .2em 15px; list-style-type: disc }
/*====================================================================================*/

/*==  GALLERIESS ========================================================================*/
.gallery a[title] { width: 50%; color: green }
.intro-block .right-aligned-pic.gallery { margin: 0 0 1em 1em }
.right-aligned-pic.gallery { margin: 2em 0 1em 1em }
.modal-gallery .gallery img { border: 1px solid #5b6770; }
/*====================================================================================*/

/* ==== Modal Window Styles ==== */
#optimize_value .modal-content, #control_demand .modal-content, #accelerate_flow .modal-content, #prevent_traveled_risk .modal-content { border-top-left-radius: 8px; border-top-right-radius: 8px }
#optimize_value .modal-header, #dfv_actionsteps .modal-header, #dfp_actionsteps .modal-header { background-color: #5C0F8C; border-top-left-radius: 6px; border-top-right-radius: 6px; color: #fff; text-align: center }
#optimize_value .modal-header, #control_demand .modal-header > h3, #accelerate_flow .modal-header > h3, #prevent_traveled_risk .modal-header > h3, #dfv_actionsteps .modal-header > h3 { color: #fff }
#optimize_value .modal-footer { text-align: center }
#control_demand .modal-header, #rcm_actionsteps .modal-header { background-color: #81BC00; border-top-left-radius: 6px; border-top-right-radius: 6px; color: #fff; text-align: center }
#accelerate_flow .modal-header { background-color: #009BDF; border-top-left-radius: 6px; border-top-right-radius: 6px; color: #fff; text-align: center }
#prevent_traveled_risk .modal-header { background-color: #FFA400; border-top-left-radius: 6px; border-top-right-radius: 6px; color: #fff; text-align: center }
.colored-header > .close { color: #fff; text-shadow: 0 1px 0 #000; opacity: .7; filter: alpha(opacity=70) }
.colored-header > .close:hover, .colored-header > .close:focus { opacity: .9; filter: alpha(opacity=90); cursor: pointer }
.modal-body { font-size: 12px }
.modalStyle h1, .modalStyle h2, .modalStyle h3 { color: #0033a1 }
.modalbanner { width: 100%; height: 110px; background-color: #0033a1 }
.modalStyle .modalbanner h2 { color: #fff; padding-top: 1.5em !important; text-align: center }
.modalStyle p { color: #5b6770; font-size: 1.4em }
#rcm_actionsteps .modal-header a, #rcm_actionsteps .modal-header a:active, #rcm_actionsteps .modal-header a:visited, #rcm_actionsteps .modal-header h3 {
color:: #fff !important; text-decoration: none; }
/* ARTIFACTS TABLE ================================================================================================================*/

.artifacts th { background-color: #BADCE6; cursor: pointer }
/* 'nth-child()' >EI8 and all other browsers. requires less verbose html file because it targets elements, not classes */
.artifacts th:nth-child(1) { width: 40% }
.artifacts th:nth-child(2) { width: 30% }
.artifacts th:nth-child(3) { width: 15% }
.artifacts th:nth-child(4) { width: 15% }
/* '.tbl_...'  classes are for <EI9. also works in all other browsers. */
.artifacts th.tbl_title { width: 40% }
.artifacts th.tbl_desc { width: 30% }
.artifacts th.tbl_poc { width: 15% }
.artifacts th.tbl_applies { width: 15% }
/* ARTIFACTS ================================================================================================================*/
a.main_definition, a.main_definition h3 { text-decoration: none; color: #fff }
ul.method_tabs { padding: 0; list-style: none }
ul.method_tabs li { padding: 0; margin: 0 }
div.coe { background: url(../../images/artifacts_sprite.png) no-repeat; background-position: -330px 0 }
div.command_media { background: url(../../images/artifacts_sprite.png) no-repeat; background-position: -275px 0 }
div.optimize_value_tabs { margin: -20px -20px 20px; position: relative }
div.optimize_value_tabs div { width: 33%; margin: 0; padding: 0; display: inline-block }
div.presentations { background: url(../../images/artifacts_sprite.png) no-repeat; background-position: -165px 0 }
div.processes, div.tools, div.training, div.presentations, div.command_media, div.coe { width: 55px; height: 56px; display: block; margin: 0 auto; background:
}
div.processes { background: url(../../images/artifacts_sprite.png) no-repeat; background-position: 0 0 }
div.tools { background: url(../../images/artifacts_sprite.png) no-repeat; background-position: -55px 0 }
div.training { background: url(../../images/artifacts_sprite.png) no-repeat; background-position: -110px 0 }
/*====*/
ul.artifacts { margin: 0; padding: 0; list-style-type: none }
ul.artifacts li { width: 55px; height: 56px; position: relative; display: inline-block; margin: 0 8px }
ul.artifacts li a { width: 55px; height: 56px; display: block; background: url(../../images/artifacts_sprite.png) no-repeat }
ul.artifacts li a span { display: none }
ul.artifacts li.processes a { background-position: 0 0 }
ul.artifacts li.processes a:hover { background-position: 0 -60px }
ul.artifacts li.tools a { background-position: -55px 0 }
ul.artifacts li.tools a:hover { background-position: -55px -60px }
ul.artifacts li.training a { background-position: -110px 0 }
ul.artifacts li.training a:hover { background-position: -110px -60px }
ul.artifacts li.presentations a { background-position: -165px 0 }
ul.artifacts li.presentations a:hover { background-position: -165px -60px }
ul.artifacts li.command_media a { background-position: -275px 0 }
ul.artifacts li.command_media a:hover { background-position: -275px -60px }
ul.artifacts li.coe a { background-position: -330px 0 }
ul.artifacts li.coe a:hover { background-position: -330px -60px }
ul.artifacts li.success_stories a { background-position: -220px 0 }
ul.artifacts li.success_stories a:hover { background-position: -220px -60px }
ul.artifacts li.best a { background-position: -390px 0 }
ul.artifacts li.best a:hover { background-position: -390px -60px }
/*====*/
.method_tabs { margin: -20px -20px 20px }
.method_tabs .tab_icon { width: 100%; display: block; background-color: #fff; text-align: center; /* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; opacity: 0.9 }
.method_tabs li.active .tab_icon { /* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; opacity: 1 }
.method_tabs .tab_title { width: 100%; display: block; background-color: #e9e9e9; text-align: center; padding: 5px 0 }
.method_tabs > div { padding: 0 }
.single_news_entry ul { list-style: none; margin: 10px; padding: 0 }
.single_news_entry ul li { padding: 0 }
.tab_bar { margin: -20px -20px 20px; text-align: center; background-color: #e9e9e9 }
.tab-pane h4 { text-align: center }
.tab-pane-content { width: 100%; max-height: 400px; overflow: auto }
.tab-pane > .modal-footer { margin-left: -20px; margin-right: -20px; padding: 15px 0 0 }
.tab-pane-tabled { padding: 0 15px }
.tabpanel-title { color: #5C0F8C; font-size: 14px; font-weight: 600 }
.tab_title a { color: #000 }
ul.optimize_value_tabs { margin: 0; padding: 10px 0; list-style: none }
ul.optimize_value_tabs li { display: inline-block; margin: 0; padding: 0 20px }
ul.optimize_value_tabs li a, .method_tabs a { outline: none; color: #0038a9 }
ul.optimize_value_tabs li.active a, .method_tabs li.active a { outline: none; color: #5C0F8C; text-decoration: underline }
ul.artifacts { margin: 0; padding: 0; list-style-type: none }
ul.artifacts li { position: relative; display: inline-block; width: 55px; height: 56px; margin: 0 8px }
ul.artifact-tabs li { text-align: center }
ul.artifact-tabs li a { padding: 0 10px; display: block }

/* ################################################################################################################################### */
/* ####  MEDIA QUERY BREAKPOINTS. MOBILE UP: START SMALLEST TO LARGEST  ############################################################## */
@media (max-width:320px) {
.how-to-do-it-p { width: 250px; background-image: url(../../images/how_to_do_it_xsmall.png); background-repeat: no-repeat; background-position: left; background-color: #5C0F8C; }
}
/* --------------------------------------------------------------- */
 @media (min-width:321px) and (max-width:481px) {
/* add styles here */
}
/* --------------------------------------------------------------- */
 @media (max-width:767px) {
/* add styles here */
}
/* --------------------------------------------------------------- */
 @media (min-width:768px) {
/* add styles here */
.carousel-main { margin: 0; background: url("../img/background.gif") repeat-x scroll left top transparent !important; background-color: #b7b7b7 !important }
}
/* --------------------------------------------------------------- */
 @media (min-width:768px)and (max-width: 991px) {
/* add styles here */
}
/* --------------------------------------------------------------- */
 @media (min-width:992px)and (max-width: 1200px) {
/* add styles here */
}
