
.scrollToTop{
    width: 100px;
    height: 130px;
    padding: 10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom: 75px;
    right: 40px;
    display: none;
    background: url('../img/../img/up-arrow-bttn.png') no-repeat 0 20px;
}
.scrollToTop:hover{
    text-decoration: none;
}